<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcf.javaservicer.mapper.SubjectMapper">
    <select id="findSubById" resultType="com.wcf.javaservicer.vo.WebSubVo">
        select sub_id,sub_name from subject where sub_id = #{subId}
    </select>
</mapper>